* {
  margin: 0;
  padding: 0;
  border: 0;
}
@font-face {
    font-family: CormorantGaramond-Light;
    src: url(fonts/CormorantGaramond-Light.ttf);
    font-family: CormorantGaramond-Regular;
    src: url(fonts/CormorantGaramond-Regular.ttf);
    font-family: 'Parisienne', cursive;
}
h1{
    font-family: 'Parisienne', cursive; 
    margin: auto;
    text-align: center;
}
h2{
    font-family: CormorantGaramond-Light; 
    padding-bottom: 20px;
}
h3{
    font-family: 'Parisienne', cursive;

}
nav li{
   font-family: CormorantGaramond-Regular;
    display: inline;
}

header{
   margin: auto;
   padding-bottom: 30px;
    width: 75%;
     
}

header img{
    margin: auto;
     
}
nav{
    display: inline; 
    padding-top: 50px;
   
}
#navigation a{
   color: black; 
   text-decoration: none;
   font-size: 2rem;
   font-family: CormorantGaramond-Regular;  
   margin-left: 30px; 
   padding-left: 40px;
   padding-right: 40px;
   
}
#navigation a:hover{
    background-color: #84a175;
    color: #fff;
    padding: 10px;
    
}
aside{
width: 50%;
margin: auto; 


}
#welcome{
    margin: auto;
    width: 80%;
    
}
#welcome h3{
    font-size: 2rem;
    padding-bottom: 30px;
    padding-top: 30px;
}
p{
   font-family: CormorantGaramond-Regular;
   text-align: center;
   font-size: 0.8rem;
}
#matcha{
    margin-top: 20px;
}
main{
    margin-top: 50px;
    
}
h4{
    font-family: CormorantGaramond-Regular;
   text-align: center;
    padding-top: 20%;
}
section{
    margin-top: 50px;
}
#address{
   display: block; 
    font-family: CormorantGaramond-Regular;
    list-style-type: none;
    width: 50%;
    margin: auto;
    text-align: center;
}
#hours{
    font-family: CormorantGaramond-Regular;
    list-style-type: none;
    width: 50%;
    margin: auto;
    text-align: center;
    
}
#contactinfo{
    font-family: CormorantGaramond-Regular; 
    list-style-type: none;
    width: 50%;
    margin: auto;
    text-align: center;
}

footer{
   margin:auto;
   width: 20%;
   clear: both;
   padding-top: 20px;
}

@media (min-width: 700px){
aside{
padding: 15px;
width: 20%;
margin-left: 20px;  
    clear: none;

}
#welcome{
    margin: auto;
    width: 60%;
    margin-right: 30px;
    float: right;
    margin-top: -525px;  
}
#welcome h3{
    font-size: 2rem;
    padding-bottom: 30px;
}
p{
   font-family: CormorantGaramond-Regular;
   text-align: center;
   font-size: 1.2rem;
}
#matcha{
    margin-top: 20px;
}
main{
    margin-top: 50px;
    
}
section{
    margin-top: 50px;
}
#address{
   display: block; 
    font-family: CormorantGaramond-Regular;
    float: left;
    width: 17%;
    margin-left: 15px;
    list-style-type: none;
}
#hours{
    font-family: CormorantGaramond-Regular;
    clear: left
    width: 17%;
    float: left;
    list-style-type: none;
    
}
#contactinfo{
    font-family: CormorantGaramond-Regular; 
    width: 17%;
    float: left;
    list-style-type: none;
}

footer{
   margin:auto;
   width: 100%;
   height: 100%; 
    clear: both;
   
}
}